---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: temporal

resources:
  - manifests/namespace.yaml
  - manifests/worker.yaml
  - manifests/ingress-webhook.yaml
  - manifests/rbac.yaml
  - manifests/rbac-automation.yaml
  - manifests/onepassworditem-github-app.yaml
  - manifests/sealedsecret-ghcr-pull.yaml

helmCharts:
  - name: temporal
    releaseName: temporal
    repo: https://go.temporal.io/helm-charts
    # renovate: datasource=helm depName=temporal registryUrl=https://go.temporal.io/helm-charts
    version: 0.73.1
    namespace: temporal
    includeCRDs: true
    valuesFile: ./values.yaml

labels:
  - pairs:
      app.kubernetes.io/name: temporal
      app.kubernetes.io/instance: temporal

images:
  - name: ghcr.io/dels78/agent-orchestrator
    newName: ghcr.io/dels78/agent-orchestrator
    # renovate: datasource=docker depName=ghcr.io/dels78/agent-orchestrator
    newTag: "c4d637e"
