---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: automation
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: postgresql
spec:
  type: ClusterIP
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
  selector:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: postgresql
