---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: clawdbot-secrets
  namespace: automation
  labels:
    app.kubernetes.io/name: clawdbot
    app.kubernetes.io/instance: clawdbot
spec:
  itemPath: "vaults/mfjan54l7fzgdzlykwb2b6nj3a/items/utdffpelf4ove54svwtb47u4qu"
