---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - manifests/deployment.yaml
  - manifests/service.yaml
  - manifests/servicemonitor.yaml

images:
  - name: unpollerimage
    newName: ghcr.io/unpoller/unpoller
    newTag: "v2.34.0"

labels:
  - pairs:
      app.kubernetes.io/instance: unpoller
      app.kubernetes.io/name: unpoller
